/* STYLES FOR HOME BUTTON COMPONENT */

.btn_home {
  background-color: rgb(252,74,54);
  bottom: 0;
  display: flex;
  height: 2vh;
  position: absolute;
  right: 10vw;
  width: 10vw;
}

.btn_home a {
  background-color: rgb(42,0,126);
  
}

.btn_home i {
  color: rgb(252,74,54);
  margin: auto;
}
