/* STYLES FOR PORTFOLIO COMPONENT */

#portfolio {

  align-items: center;
  background: linear-gradient(152deg, rgba(42,0,126,1) 0%, rgba(24,0,70,1) 100%);
  display: flex;
  flex-flow: column nowrap;
  height: 75vh;
  justify-content: center;
  position: relative;

}

#portfolio h2 {

    color: rgb(252,74,54);
    font-size: 5vh;
    margin: 0 auto;
    width: 75%;
}

#portfolio h2:after {
  border-bottom: 4px solid rgb(252,74,54);
  border-radius: 5px;
  content: '';
  display: inline-block;
  margin: 0 2vw 1vh;
  width: 50%;
}

.slides {

  align-items: center;

  display: flex;
  flex-flow: row-reverse nowrap;
  height: 50vh;
  justify-content: center;
  position: relative;
  width: 100%;
}


.portfolio_card {

  background-color: rgb(252,74,54);
  border-radius: 15px;
  box-shadow: 5px  0 10px rgb(5,5,5);
  height: 30vh;
  margin-right: -5vw;
  padding: 2vh 1vw;
  transition: .5s;
  width: 15vw;

}

.portfolio_card a {
  text-decoration: none;
}

.portfolio_card h3 {
  color: rgb(235,235,235);
}

.portfolio_card h4 {
  color: rgb(235,235,235);
}

/* CARD HOVER */
.portfolio_card:hover {

  margin-right: -4vw;
  margin-top: -3vh;
  z-index:1;
}
