/* STYLES FOR PORTFOLIO COMPONENT */

#portfolio {

  align-items: center;
  background: linear-gradient(152deg, rgba(42,0,126,1) 0%, rgba(24,0,70,1) 100%);
  display: flex;
  flex-flow: column nowrap;
  height: 75vh;
  justify-content: center;
  position: relative;

}

#portfolio h2 {

    color: rgb(252,74,54);
    font-size: 5vh;
    margin: 0 auto;
    width: 75%;
}

#portfolio h2:after {
  border-bottom: .5vh solid rgb(252,74,54);
  border-radius: 5px;
  content: '';
  display: inline-block;
  margin: 1vh 2vw;
  width: 50%;
}

.slides {

  align-items: center;
  display: flex;
  flex-flow: row-reverse nowrap;
  height: 50vh;
  justify-content: center;
  position: relative;
  width: 100%;
}


.portfolio_card {

  background-color: rgb(252,74,54);
  border-radius: 15px;
  box-shadow: 5px  0 10px rgb(5,5,5);
  height: 30vh;
  margin-right: -5vw;
  position: relative;
  transition: .5s;
  width: 15vw;

}

.portfolio_card > a {
  border-radius: 15px;
  display: inline-block;
  height: 100%;
  padding: 2vh 1vw;
  text-decoration: none;
  width: 100%;
  z-index: 1;
}

.portfolio_card_information {
  /* background-color: rgb(252,74,54); */
  background-color: rgb(252,74,54);
  bottom: -10vh;
  height: 0;
  left: .5vw;
  margin: 0 auto;
  overflow: hidden;
  position: absolute;
  text-align: left;
  width: 14vw;
}

.portfolio_card_information li {


  color: rgb(235,235,235);
  padding: .5vh .5vw;
  text-align: left;
  width: 100%;
}

.portfolio_card_information > li:first-child {
  font-size: 1.25em;
  font-weight: 800;
  text-align: center;
}

.portfolio_card_information > li:nth-child(2) {
  font-weight: 800;
}

.portfolio_card_information li > a {

  background: none;
  display: inline-block;
  color: rgb(235,235,235);
  padding:0;
  width: 100%;

}

/* CARD HOVER */
.portfolio_card:hover {

  margin-right: -4vw;
  margin-top: -3vh;
  z-index:1;
}

.portfolio_card:hover .portfolio_card_information {
  min-height: 20vh;
}

@media only screen and (max-width:1024px) {

  #portfolio {
    height: auto;
  }

  .slides {
    flex-wrap: wrap;

  }

  .portfolio_card {
    height: 15vh;
    margin: 5vh 5vw;
    width: 20vw;
  }

  .portfolio_card_information {

    background-color: rgba(125,125,125,.8);
    border-radius: 15px;
    bottom: 0;
    display: none;
    height: 100%;
    left: 0;
    text-align: left;
    top:0;
    width: 100%;
  }

  .portfolio_card:hover .portfolio_card_information{
      display: block;
  }

}
