/* STYLES FOR SKILLS COMPONENT */

#skills {
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 50%, rgba(225,225,225,1) 100%);
  color: rgb(10,0,50);
  height: 60vh;
  padding: 5vh 0 0;
}

#skills h2 {

    color: rgb(252,74,54);
    font-size: 5vh;
    margin: auto;
    width: 75%;
}

#skills h2:before {
  border-bottom: .5vh solid rgb(252,74,54);
  border-radius: 5px;
  content: '';
  display: inline-block;
  margin: 1vh 2vw;
  width: 50%;
}

#skills_header {

  display: flex;
  justify-content: space-between;
  margin: 5vh auto 0;
  padding: 0 2vw;
  width: 75%;
}

#skills_header > h3:first-child {

  text-align: left;
  width:25vw;
}

#skills_header > h3:last-child {
  width:30vw;
}

.skills_row {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2.5vh auto 0;
  padding: 0 2vw;
  width: 75%
}


.education {

  height: 25vh;
  width: 25vw;
}

.school {
  font-size: 1.25em;
  margin: 2vh 0;
}

.education li {
  text-align: left;
}

.education li:first-child {
  font-weight: 800;
}

.tech_skills {

  align-items: space-around;
  display: flex;
  flex-flow: column nowrap;
  height: 25vh;
  justify-content: flex-start;
  width: 30vw;
}

.tech_skills > h3 {
  display: none;
}

.tech_skill_items {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  position: relative;
}

.skill_item {
  background-color: rgb(252,74,54);
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgb(10,0,50);
  color: rgb(235,235,235);
  cursor: pointer;
  display: inline-block;
  margin: .5vh .5vw;
  padding: 1vh 0;
  width: 28%;
}

.skill_item:hover .skill_item_sub_menu{

  background-color: rgb(10,0,50);
  color: rgb(252,74,54);
  display: block;
}

.skill_item_sub_menu {
  display: none;
  left: -12vw;
  padding: 2vh 0;
  position: absolute;
  top:1vh;
}

.skill_item_sub_menu span {

  display: block;
  padding-left: 2vh;
  text-align: left;
  width: 12vw;

}

/* MEDIA QUERIES */

@media only screen and (max-width:1024px) {

  #skills {

    height: auto;
    padding-top: 2vh;

  }


  #skills_header > h3:first-child {
    width:75%;
  }
  #skills_header > h3:last-child {
    display: none;
  }

  #skills h2 {
    width:100%;
  }
  #skills h2:before {
    display: none;
  }

  #skills h2:after {
    border-bottom: .5vh solid rgb(252,74,54);
    border-radius: 5px;
    content: '';
    display: inline-block;
    margin: 1vh 2vw;
    width: 50%;
  }

  .skills_row {
    flex-direction: column;
  }

  .education {
    height: auto;
    width:100%;
  }

  .tech_skills {
    width:100%;
  }

  .tech_skill_items {
    justify-content: flex-end;
  }
  .skill_item_sub_menu {
    width: 20vw;
  }

}


@media only screen and(max-width:976px) {

  #skills {
    height: auto;
  }

  #skills_header {
    padding:0;
  }

  .skills_row {
    height: auto;
  }

  .education {
    display: flex;
    flex-flow: row;
    height: auto;
  }

  .school {
    height: auto;
    margin: 0;
    width: 30%;
  }

  .tech_skills {
    height: auto;
  }
}
