/* STYLES FOR ABOUT COMPONENT */

#about {
  align-items: center;
  color: rgb(252,74,54);
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  padding: 5vh 0 0;
  width: 100%;

}

.about_header {
  height: 10vh;
  width: 75%;

}

.about_header h1 {
  font-size: 7vh;
  height: 50%;
  margin-bottom: 2.5vh;
}

.about_header h4 {
  font-size: 2.5vh;
  height: 50%;
  line-height: 5vh;

}

.about_section {
  align-items: center;
  display: flex;
  height: auto;
  justify-content: center;
  margin: 10vh 0 0;
}

.about_info {

  border-radius: 1em;
  box-shadow: 2px 2px 5px rgb(10,10,30);
  display: flex;
  height: 50vh;
  width: 20vw;
}

#about_figure {
  display: flex;
  margin: 0 2vw;
}

#about_figure i {
  margin: auto;
}

#about_description p {
  float: right;
  font-size: 2vh;
  line-height: 3.5vh;
  margin: auto;
  padding: 1vh 3vw 0;
  text-align: left;
  width: 100%;
}

.about_stats {
  display: flex;
  flex-direction: column;
  height: 3vh;
  margin-top: 4vh;
  width: 100%;
}

.about_stats ul {
  font-size: 1.75vh;
  height: 100%;
  margin: auto;
  width: 100%;
}

.about_stats li {
  display: inline-block;
  margin: .5vh 1vw;
  width: auto;
}

.about_stats li a {
  color: rgb(252, 74, 54);
  text-decoration:none;
}

.about_stats li i {
  margin-right: .5vh;
}

/* .about_header:before {
  border-bottom: 2px solid rgb(252,74,54);
  content: '';
  display: inline-block;
  margin: auto;
  width: 30%;
} */

.about_stats:after {
  border-bottom: 4px solid rgb(252,74,54);
  border-radius: 5px;
  content: '';
  display: inline-block;
  margin: 3vh auto 0;
  width: 30%;
}
