/* NAVIGATION COMPONENT STYLES */
#site_nav {
  box-shadow: 5px 5px 10px rgb(15,15,15);
  display: none;
  height: 30vh;
  position: fixed;
  left: 2vw;
  top: 2vh;
  width: 10vw;
  z-index: 1;
}

.nav_menu {
  display: inline-block;
  height: 30vh;
  width: 100%;

}

.item_button {
  background-color: rgb(10,10,30);
  color: rgb(235,235,235);
  display: inline-block;
  font-size: 1.25em;
  left: 0;
  padding: 2vh 1vw 3vh;
  position: absolute;
  text-decoration: none;
  top: -7vh;
  width: 100%;
}

.menu_item {
  background-color: rgb(42,0,126);
  display: flex;
  height: calc(100% / 6);
  width: 100%;
}

.menu_link {
  color: rgb(252,74,54);
  display: inline-block;
  font-size: 2.25vh;
  margin: auto;
  padding: 1vh .5vw;
  text-align: left;
  text-decoration: none;
}

.menu_link:hover {
  color: rgb(252,74,54);
  text-decoration: none;
}

/* MEDIA QUERIES */

@media only screen and (max-width:1024px) {

  #site_nav {
    background-color: rgb(42,0,126);
    height: 5vh;
    left: 0;
    top:0;
    width:100%;
  }

  .nav_menu {
    align-items: center;
    display: flex;
    height: auto;
    justify-content: space-around;


  }

  .menu_item:first-child {
    display: none;
  }

  .menu_item {
    display: inline;
    
  }

  .menu_link {
    font-size: 2vh;
    text-align: center;
    width: 100%;
  }

}
