/* EXPERIENCE COMPONENT STYLES */


#experience {
  align-items: center;
  background-color: rgb(42,0,126);
  color: rgb(10,10,30);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: 10vh 0 0;

}

#experience header h1 {
  color: rgb(252,74,54);
  font-size: 3em;
}
