/* EXPERIENCE COMPONENT STYLES */


#experience {
  align-items: center;
  background: rgb(42,0,126);
  background: linear-gradient(152deg, rgba(42,0,126,1) 0%, rgba(24,0,70,1) 100%);
  color: rgb(10,10,30);
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  padding: 10vh 0 0;

}

#experience header h1 {
  color: rgb(252,74,54);
  font-size: 3em;
}

.experience_header:after {
  border-bottom: 2px solid rgb(252,74,54);
  content: '';
  display: block;
  margin: 3vh auto 0 ;
  width: 75%;
}
