/* GLOBAL APP STYLES */

.App {
  text-align: center;
}

.site_article {

  font-family: 'Ubuntu', sans-serif;
  height: 100vh;
  width: 100vw;
}

@media only screen and (max-width:1024px) {

  .site_article {
    height: auto;
  }
}
