/* STYLES FOR WORK COMPONENT  */

#work {

  align-items: center;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 50%, rgba(225,225,225,1) 100%);
  display: flex;
  flex-flow: column nowrap;
  height: 75vh;
  justify-content: center;
  position: relative;
}

#work h2 {
  color: rgb(252,74,54);
  font-size: 5vh;
  margin: 0 auto;
  width: 75%;
}

#work h2:before {
  border-bottom: 4px solid rgb(252,74,54);
  border-radius: 5px;
  content: '';
  display: inline-block;
  margin: 0 2vw 1vh;
  width: 50%;
}

.work_card {
  border-radius: 15px;
  box-shadow: 5px  0 10px rgb(5,5,5);
  height: 30vh;
  margin-right: -5vw;
  position: relative;
  transition: .5s;
  width: 15vw;

  }

  .work_card a {

    border-radius: 15px;
    display: inline-block;
    height: 100%;
    padding: 2vh 1vw;
    text-decoration: none;
    width: 100%;
    z-index: 1;

  }

  .work_card_information {
    /* background-color: rgb(252,74,54); */

    bottom: -15vh;
    height: 0;
    left: .5vw;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    text-align: left;
    width: 14vw;
  }

  .work_card_information li {

    background-color: rgb(252,74,54);
    color: rgb(235,235,235);
    padding: .5vh .5vw;
    text-align: left;
    width: 100%;
  }

  .work_card_information > li:first-child {
    font-size: 1.25em;
    font-weight: 800;
    text-align: center;
  }

  .work_card_information > li:nth-child(2) {
    font-weight: 800;
  }

  .work_card_information li > a {

    background: none;
    display: inline-block;
    color: rgb(235,235,235);
    padding:0;
    width: 100%;

  }

  /* CARD HOVER */
  .work_card:hover {

  margin-right: -4vw;
  margin-top: -3vh;
  z-index:1;
  }

  .work_card:hover .work_card_information {
    min-height: 20vh;
  }

/* MEDIA QUERIES */

@media only screen and (max-width:1024px) {

  #work h2:before {
    display: none;

  }


  #work h2:after {
    border-bottom: 4px solid rgb(252,74,54);
    border-radius: 5px;
    content: '';
    display: block;
    margin: auto;
    width: 50%;
  }

  .slides {
    flex-wrap: wrap;

  }

  .work_card {
    height: 15vh;
    margin: 5vh 5vw;
    width: 20vw;  
  }
  
  .work_card_information {

    background-color: rgba(125,125,125,.8);
    border-radius: 15px;
    bottom: 0;
    height: 100%;
    left: 0;
    text-align: left;
    top:0;
    width: 100%;
  }

}
