/* STYLES FOR WORK COMPONENT  */

#work {

  align-items: center;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 50%, rgba(225,225,225,1) 100%);
  display: flex;
  flex-flow: column nowrap;
  height: 75vh;
  justify-content: center;
  position: relative;
}

#work h2 {
  color: rgb(252,74,54);
  font-size: 5vh;
  margin: 0 auto;
  width: 75%;
}

#work h2:before {
  border-bottom: 4px solid rgb(252,74,54);
  border-radius: 5px;
  content: '';
  display: inline-block;
  margin: 0 2vw 1vh;
  width: 50%;
}

.work_card {

  background-color: rgb(42,0,126);
  border-radius: 15px;
  box-shadow: 5px  0 10px rgb(5,5,5);
  height: 30vh;
  margin-right: -5vw;
  padding: 2vh 1vw;
  transition: .5s;
  width: 15vw;

  }

  .work_card a {
    text-decoration: none;
  }

  .work_card h3 {
  color: rgb(235,235,235);
  }

  .work_card h4 {
  color: rgb(235,235,235);
  }

  /* CARD HOVER */
  .work_card:hover {

  margin-right: -4vw;
  margin-top: -3vh;
  z-index:1;
  }
